.heading {
  font-size: 2rem; /* Increase the text size as needed */
  font-family: 'YourSignatureFont', cursive;
}

@media (min-width: 1024px) {
  .heading {
    font-size: 3rem; /* Increase the text size for larger screens */
  }
}

.sticky-nav {
  position: sticky;
  top: 0;
  z-index: 50; /* Adjust if needed */
  background-color: white;
  padding: 1rem; /* Example padding */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add shadow */
}

.btn {
  margin: 0.5rem;
  text-decoration: none;
  color: #4a4a4a;
  transition: color 0.3s ease;
}

.btn:hover {
  color: #1a1a1a;
}

.active-link {
  color: #0070f3;
}
